# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py

# Data & Models
/Titanic/*.csv

*.joblib
*.pkl
*.pickle

# Images & Assets
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Environment
.env
.venv
env/
venv/
bin/
lib/
share/

my_Understanding.md
Ames_Housing_Production
